@import './styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&family=Inter:wght@300;400;600;900&display=swap');

body {
  font-family: $primary-font;
}

a:link {
  color: $primary-font-color;
  text-decoration: none;
}

a:visited {
  color: $primary-font-color;
  text-decoration: none;
}

a:hover {
  color: $hover-font-color;
  text-decoration: none;
}

a:active {
  color: $primary-font-color;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 0.8em;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $black $white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $white;
}

*::-webkit-scrollbar-thumb {
  background-color: $black;
  border-radius: 20px;
  border: 3px solid $white;
}

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  text-align: center;
  line-height: 80px;
  font-size: 25px;
  background-color: $black;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  color: $white;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: $white;
  color: $black;
  border: 2px dashed $black;
}


@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
