@import './variables.scss';

.main-footer{
  display: flex;
  justify-content: space-between;
  padding: 0em 1.5em 1em 1.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $footer-bg;

  h3 {
    font-family: $logo-font;
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }
}

/* Mobile and smaller devices only styles */
@media only screen and (max-width: 700px) {
  .main-footer{
    h3 {
      font-size: 0.7em;
      font-family: $logo_font;
      letter-spacing: 0.1em;
    }
  }
}