@import 'variables.scss';

img {
  // object-fit: cover;
  // height: 100%;
  // width: 100%;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100%;
  // width: 100%;
}