$primary-bg: #FFFFFF;
$primary-font: 'Inter';

$footer-bg: #DEDEDE;

$primary-font-color: #000000;
$hover-font-color:#ab776f;

$logo-font: 'Heebo';
$logo-weighting: 900;

// Solid color //
$white: #FFFFFF;
$black: #000000;